body {
  width: 90vw;
  margin: auto;
  background-color: lightgoldenrodyellow;
}

h1 {
  background-color: maroon;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

main section {
  border: 3px dashed ;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

main section img {
  width: 20vw;
  height: 20vw;
}

button {
  margin: 20px;
  background-color: rgb(50, 100, 25);
  color: azure;
  transition: 350ms;
}

button:hover {
  opacity: .6;
}

ul li {
 background-color: rgba(235, 190, 172);

 padding: 10px;
 width: 30vw;
 border: 2px solid ;
}

