body {
  width: 90vw;
  margin: auto;
  background-color: rgb(242, 242, 219);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: center;
}

h1 {
  background-color: maroon;
  color: aliceblue;
  font-size: 42px;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

section {
  border: 3px dashed ;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
}

img {
  width: 20vw;
  height: 20vw;
  transition: 350ms;
}

img:hover{
opacity: 40%;
}

p {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 25px;
}

button {
  margin: auto;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: rgb(50, 100, 25);
  color: azure;
  transition: 350ms;
  font-size: 30px;
  border-radius: 12px;
}

button:hover {
  opacity: .6;
}

ul li {
 background-color: rgba(235, 190, 172);

 padding: 10px;
 width: 30vw;
 border: 2px solid ;
}

